/*.lacc {*/
/*border: 1px solid red;*/
/*}*/

/*.lacc-1 {*/
/*border: 1px solid green;*/
/*}*/

/*.container_12 {*/
/*border: 1px solid blue;*/
/*}*/
.restaurant-grid {
  box-sizing: border-box;
  margin-bottom: 40px;
  transition: transform 0.2s ease-out;
}

.restaurant-grid:hover {
  transform: scale(1.2);
}
